@import  url("https://quasar.dev/assets/index.css");  /*Использую для готовой сетки*/

.border1 {
    border: 2px solid gray;
}

.border2 {
    border: 2px solid #3737ff;
}

.border3 {
    border: 2px solid #87ff37;
}
