@import url("https://quasar.dev/assets/index.css"); /*Использую для готовой сетки*/

.container {
  max-width: 1240px;
  margin: 20px auto;
}
.border1 {
  border: 2px solid gray;
}

.border2 {
  border: 2px solid #3737ff;
}
